<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="sistema_de_ventas_Entities" connectionString="metadata=res://*/db.DB_Connect.csdl|res://*/db.DB_Connect.ssdl|res://*/db.DB_Connect.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NJGO371\SQLEXPRESS;initial catalog=sistema_de_ventas;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>